## FACTURAS

In [70]:
import pandas as pd

headers_factura= ['idFactura', 'idpaciente', 'fecha', "idHosp"]


df_factura_sur = pd.read_csv("new_csv/factura_sur.csv", header=None, names=headers_factura)
df_factura_norte = pd.read_csv("new_csv/factura_norte.csv", header=None,names=headers_factura)

In [71]:
series_id_facturas_sur = df_factura_sur["idFactura"]
series_id_facturas_norte = df_factura_norte["idFactura"]

## COnceptos

In [72]:
import pandas as pd

# Los datos de tus conceptos
data = [
    ('CP001', 'Consulta Externa', 'Atención médica general en consultorio, sin urgencia.', 850.00),
    ('CP002', 'Noche Hospitalización', 'Estadía por 24 horas en habitación estándar.', 2500.00),
    ('CP003', 'Examen de Laboratorio', 'Análisis de sangre y orina básicos (Biometría, Urianálisis).', 620.50),
    ('CP004', 'Sutura Menor', 'Procedimiento para cerrar heridas simples con anestesia local.', 1300.00),
    ('CP005', 'Día de Quirófano', 'Uso del área de cirugía por 1 hora, incluye equipo y personal técnico.', 7500.00),
    ('CP006', 'Medicamento Estándar', 'Suministro de medicamentos básicos (analgésicos, antibióticos).', 150.00),
    ('CP007', 'Radiografía Simple', 'Toma de imagenología de una zona específica (ej. tórax o mano).', 780.00)
]

# Los nombres de las columnas
columns = ['idConcepto', 'nombre', 'descripcion', 'precioBase']

# Creación del DataFrame
df_concepto = pd.DataFrame(data, columns=columns)

df_concepto

,idConcepto,nombre,descripcion,precioBase
0,CP001,Consulta Externa,"Atención médica general en consultorio, sin ur...",850.0
1,CP002,Noche Hospitalización,Estadía por 24 horas en habitación estándar.,2500.0
2,CP003,Examen de Laboratorio,"Análisis de sangre y orina básicos (Biometría,...",620.5
3,CP004,Sutura Menor,Procedimiento para cerrar heridas simples con ...,1300.0
4,CP005,Día de Quirófano,"Uso del área de cirugía por 1 hora, incluye eq...",7500.0
5,CP006,Medicamento Estándar,Suministro de medicamentos básicos (analgésico...,150.0
6,CP007,Radiografía Simple,Toma de imagenología de una zona específica (e...,780.0

In [73]:
series_id_conceptos = df_concepto["idConcepto"]
series_id_conceptos

0    CP001
1    CP002
2    CP003
3    CP004
4    CP005
5    CP006
6    CP007
Name: idConcepto, dtype: object

## doctores

In [74]:
doctor_headers = ["idDoctor", "nombre", "sueldo", "especialidad", "idHosp"]
df_doctores = pd.read_csv("new_csv/doctores.csv", header=None, names=doctor_headers)
df_doctores

    idDoctor               nombre  sueldo  especialidad idHosp
0      DR001      Timoteo Acevedo   24973   Cardiología   HN01
1      DR002     Teodoro Corrales   51950   Psiquiatría   HN02
2      DR003       Óscar Espinoza   23192   Ginecología   HN03
3      DR004         Liliana Puga   52356  Oftalmología   HN04
4      DR005    Patricio Bañuelos   50378  Oftalmología   HN05
..       ...                  ...     ...           ...    ...
345    DR346        Susana Tamayo   42686   Ginecología   HS46
346    DR347          Ana Carmona   35446   Psiquiatría   HS49
347    DR348         Diego Madrid   53858    Neurología   HS52
348    DR349  Dulce María Herrera   16900     Oncología   HS31
349    DR350       Silvia Benítez   13065  Dermatología   HS01

[350 rows x 5 columns]

In [75]:
series_id_doctores_sur = df_doctores[df_doctores['idHosp'].str.startswith('HS')]['idDoctor']
series_id_doctores_norte = df_doctores[df_doctores['idHosp'].str.startswith('HN')]['idDoctor']

## factura detalle

In [76]:

headers_factura_detalle= ['idFactura', 'concepto', 'idDoctor', "cant","iva"]


df_factura_sur_detalle = pd.DataFrame(columns=headers_factura_detalle)
df_factura_norte_detalle = pd.DataFrame(columns=headers_factura_detalle)

# VALORES ALEATORIOS

In [77]:
import numpy as np
# 1. Crear una lista de registros base (diccionarios) para la zona norte
registros_norte = []
for id_factura in series_id_facturas_norte:
    num_conceptos = np.random.randint(1, 5) # De 1 a 4 conceptos por factura
    for _ in range(num_conceptos):
        registro = {
            'idFactura': id_factura,
            'concepto': np.random.choice(series_id_conceptos),
            'cant': np.random.randint(1, 6),
            'iva': 16.00
        }
        registros_norte.append(registro)

# 2. Convertir la lista de registros a un DataFrame
df_factura_norte_detalle = pd.DataFrame(registros_norte)

# 3. Asignar doctores, garantizando que todos aparezcan al menos una vez
total_registros_norte = len(df_factura_norte_detalle)
doctores_norte_unicos = series_id_doctores_norte.tolist()
num_extra_norte = total_registros_norte - len(doctores_norte_unicos)
asignaciones_extra_norte = np.random.choice(doctores_norte_unicos, size=num_extra_norte).tolist()
asignaciones_finales_norte = doctores_norte_unicos + asignaciones_extra_norte
np.random.shuffle(asignaciones_finales_norte)
df_factura_norte_detalle['idDoctor'] = asignaciones_finales_norte

# 4. Asignar un ID secuencial único para cada detalle
num_filas_norte = len(df_factura_norte_detalle)
df_factura_norte_detalle['idFacturaDetalle'] = [f"FADN{i:05d}" for i in range(1, num_filas_norte + 1)]

# 5. Reordenar las columnas del DataFrame final
headers_finales = ['idFacturaDetalle', 'idFactura', 'concepto', 'idDoctor', 'cant', 'iva']
df_factura_norte_detalle = df_factura_norte_detalle[headers_finales]

# 6. Mostrar el resultado para la zona norte
print("\n--- Muestra de df_factura_norte_detalle ---")
print(df_factura_norte_detalle.head())
print(f"\nTotal de registros en Norte: {len(df_factura_norte_detalle)}")
print(f"Doctores únicos asignados en Norte: {df_factura_norte_detalle['idDoctor'].nunique()}")

--- Muestra de df_factura_norte_detalle ---
  idFacturaDetalle idFactura concepto idDoctor  cant   iva
0        FADN00001   FAN0001    CP006    DR073     1  16.0
1        FADN00002   FAN0001    CP006    DR156     2  16.0
2        FADN00003   FAN0001    CP007    DR175     2  16.0
3        FADN00004   FAN0002    CP007    DR139     2  16.0
4        FADN00005   FAN0002    CP002    DR071     2  16.0

Total de registros en Norte: 15062
Doctores únicos asignados en Norte: 175

In [78]:
df_factura_norte_detalle["idDoctor"].value_counts()

idDoctor
DR135    120
DR167    111
DR123    110
DR075    109
DR143    107
        ...
DR161     70
DR074     70
DR145     68
DR130     65
DR140     62
Name: count, Length: 175, dtype: int64

In [79]:
# 1. Crear una lista de registros base (diccionarios) para la zona sur
registros_sur = []
for id_factura in series_id_facturas_sur:
    num_conceptos = np.random.randint(1, 5) # De 1 a 4 conceptos por factura
    for _ in range(num_conceptos):
        registro = {
            'idFactura': id_factura,
            'concepto': np.random.choice(series_id_conceptos),
            'cant': np.random.randint(1, 6),
            'iva': 16.00
        }
        registros_sur.append(registro)

# 2. Convertir la lista de registros a un DataFrame
df_factura_sur_detalle = pd.DataFrame(registros_sur)

# 3. Asignar doctores (Lógica corregida y robusta)
total_registros_sur = len(df_factura_sur_detalle)
doctores_sur_unicos = series_id_doctores_sur.tolist()

if total_registros_sur < len(doctores_sur_unicos):
    # Si no hay suficientes registros para cada doctor, se notifica
    # y se asignan doctores aleatoriamente del total disponible.
    print("ADVERTENCIA (Zona Sur): No se generaron suficientes registros para asignar a cada doctor al menos una vez.")
    asignaciones_finales_sur = np.random.choice(doctores_sur_unicos, size=total_registros_sur).tolist()
else:
    # Si hay suficientes registros, se aplica la lógica original.
    num_extra_sur = total_registros_sur - len(doctores_sur_unicos)
    asignaciones_extra_sur = np.random.choice(doctores_sur_unicos, size=num_extra_sur).tolist()
    asignaciones_finales_sur = doctores_sur_unicos + asignaciones_extra_sur
    np.random.shuffle(asignaciones_finales_sur)

df_factura_sur_detalle['idDoctor'] = asignaciones_finales_sur

# 4. Asignar un ID secuencial único para cada detalle
num_filas_sur = len(df_factura_sur_detalle)
df_factura_sur_detalle['idFacturaDetalle'] = [f"FADS{i:05d}" for i in range(1, num_filas_sur + 1)]

# 5. Reordenar las columnas del DataFrame final
headers_finales = ['idFacturaDetalle', 'idFactura', 'concepto', 'idDoctor', 'cant', 'iva']
df_factura_sur_detalle = df_factura_sur_detalle[headers_finales]

# 6. Mostrar el resultado para la zona sur
print("--- Muestra de df_factura_sur_detalle ---")
print(df_factura_sur_detalle.head())
print(f"\nTotal de registros en Sur: {len(df_factura_sur_detalle)}")
print(f"Doctores únicos asignados en Sur: {df_factura_sur_detalle['idDoctor'].nunique()}")

--- Muestra de df_factura_sur_detalle ---
  idFacturaDetalle idFactura concepto idDoctor  cant   iva
0        FADS00001   FAS0001    CP007    DR290     4  16.0
1        FADS00002   FAS0001    CP001    DR263     1  16.0
2        FADS00003   FAS0001    CP005    DR288     5  16.0
3        FADS00004   FAS0001    CP002    DR225     4  16.0
4        FADS00005   FAS0002    CP005    DR345     2  16.0

Total de registros en Sur: 14957
Doctores únicos asignados en Sur: 175

In [84]:
df_factura_norte_detalle["idFactura"].value_counts()

idFactura
FAN3001    4
FAN3875    4
FAN1442    4
FAN1440    4
FAN3860    4
          ..
FAN4710    1
FAN1800    1
FAN0883    1
FAN1798    1
FAN6000    1
Name: count, Length: 6000, dtype: int64

In [85]:
df_factura_sur_detalle

      idFacturaDetalle idFactura concepto idDoctor  cant   iva
0            FADS00001   FAS0001    CP007    DR290     4  16.0
1            FADS00002   FAS0001    CP001    DR263     1  16.0
2            FADS00003   FAS0001    CP005    DR288     5  16.0
3            FADS00004   FAS0001    CP002    DR225     4  16.0
4            FADS00005   FAS0002    CP005    DR345     2  16.0
...                ...       ...      ...      ...   ...   ...
14952        FADS14953   FAS5999    CP001    DR283     1  16.0
14953        FADS14954   FAS5999    CP001    DR246     2  16.0
14954        FADS14955   FAS6000    CP002    DR315     2  16.0
14955        FADS14956   FAS6000    CP002    DR297     2  16.0
14956        FADS14957   FAS6000    CP002    DR334     3  16.0

[14957 rows x 6 columns]

In [82]:
df_factura_sur_detalle.to_csv(
    "new_csv/factura_detalle_sur.csv",  # Nombre del archivo de salida
    index=False,             # No incluir la columna de índice (0, 1, 2, ...)
    header=False
)

In [83]:
df_factura_norte_detalle.to_csv(
    "new_csv/factura_detalle_norte.csv",  # Nombre del archivo de salida
    index=False,             # No incluir la columna de índice (0, 1, 2, ...)
    header=False
)